<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
			<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
			<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
			<link rel="icon" type="image/png" href="images/icons/ventana.png"/>
			<script type="text/javascript" src="../main.js"></script>
			<link rel="stylesheet" href="../main.css">
				<title>Window Cuts</title>
			</head>
			<body>
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
					<a class="navbar-brand" href="/index">Window Cuts</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/index">Agregar
						proyecto 
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/agregarVentana">Agregar
						ventanas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active"
					href="/buscarProyectos">Ver proyectos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">Cerrar sesión</a>
							</li>
						</ul>
					</div>
				</nav>
				<br>
					<div class="container">
						<div class="col-md-6">
							<form th:action="@{/viewProyecto}" th:object="${Proyecto}"
		method="POST">
								<div class="input-group">
									<select class="custom-select" th:object="${Proyecto}"
					th:field="${Proyecto.idProyecto}" required>
										<option selected th:value="null">Selecciona un proyecto</option>
										<option  th:each="tablaProyecto : ${listaProyectos}"
						th:value="${tablaProyecto.idProyecto}"
						th:text="${tablaProyecto.nombreProyecto}" th:if="${tablaProyecto.idVentana != null and !tablaProyecto.idVentana.empty}"></option>
									</select>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="submit">Buscar
						proyecto</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</body>
				<div class="fixed-bottom">
					<footer class="bg-light text-center text-lg-start">
						<!-- Copyright -->
						<div class="text-center p-3"
				style="background-color: rgba(0, 0, 0, 0.2)">
				© 2021, Hecho con ♥ por 
							<a class="text-dark"
					href="https://www.jorgemartini.cl/">https://jorgemartini.cl/</a>
						</div>
						<!-- Copyright -->
					</footer>
				</div>
			</html>